<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>
		$("document").ready(function(){
			var lag = 0;

			$("#categorysearch").click(function(){
				var insert = '<div class="form-group"><label id="toggle1">Categories</label>' +
             		'<input type="text" class="form-control" name="categorysearch" id ="toggle"' +
             		'></div>';

             	if (lag == 0) {
				$("#submitted").before(insert);
				lag++;
			}
				else{
					$("#toggle").toggle();
					$("#toggle1").toggle();
				}

			});
		});
	</script>
</head>
<body>
	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Search Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<form action="/search" method="post">
			<div class="form-group">
				<label>Search by University</label>
				<input type="text" class="form-control" name="university">
			</div>
			<a href="#" id="categorysearch">Advanced Search</a>

			<button type="submit" class="btn btn-warning btn-lg" id="submitted">Search</button>
		</form>

	</div>
</body>
</html>