<!doctype html>
<html>
<head></head>
<h1>title</h1>
<form method="post">
  <div>
    <div><span class="label">Name :</span>
      <input type="text" name="name" id="name"/>
    </div>
    <div><span class="label">Email :</span>
      <input type="text" name="email" id="email"/>
    </div>
    <div>
      <input type="submit" value="Submit"/>
    </div>
  </div>
</form>
<p>yoyoyo</p>
</html>
